<ion-view view-title="{{title}}">

	<ion-content class="padding">
		 <div class="card" ng-repeat="detail in details" ng-click="openDetail(shareBalance)">
	        <div class="item item-divider">
	          #{{$index+1}} {{detail.transection_date}}
			  <span ng-click="openDetail(detail)" style="float:right">MORE</span>
	        </div>
	        <div class="list list-inset">
	          <div class="item">
	            <b>Buy Quanity :</b> {{detail.buy_quantity}}
	            <br/>
	            <em style="font-size: 10px; color:#3aabbcc">({{detail.remark}})</em>
	          </div>
	          <div class="item">
	            <b>Buy Avg :</b> {{detail.total_buy_avg}}
	          </div>
	          <div class="item">
	            <b>Total Buy Amount :</b> {{detail.total_buy_amount}}
	          </div>

	        </div>
      </div>
     

	</ion-content>
</ion-view>