<ion-content cache-view="false">
	<ion-list>
		<ion-item class="bar bar-header bar-dark">
			MENU
		</ion-item>
		<ion-item menu-close href="#/app/dashboard">
			<img src="img/menu-icons/dashboard.png" alt="">
			<span>Dashboard</span>
		</ion-item>
		<ion-item menu-close href="#/app/profile">
			<img src="img/menu-icons/profile.png" alt="">
			<span>Profile</span>
		</ion-item>
		<ion-item menu-close href="#/app/portfolio/statuses">
			<img src="img/menu-icons/portfolio.png" alt="">
			<span>Portfolio</span>
		</ion-item>
		<ion-item menu-close href="#/app/orders/view" ng-hide="!user.kscl">
			<img src="img/menu-icons/order-management.png" alt="">
			<span>Order Management</span>
		</ion-item>
		<ion-item menu-close href="#/app/market-info">
			<img src="img/menu-icons/market-info.png" alt="">
			<span>Market Info</span>
		</ion-item>
		<ion-item menu-close href="#/app/alerts">
			<img src="img/menu-icons/alerts.png" alt="">
			<span>Alerts</span>
		</ion-item>
		<ion-item menu-close href="#/app/ipo/index" ng-if="user.kscl">
			<img src="img/menu-icons/ipo.png" alt="">
			<span>IPO Mangement</span>
		</ion-item>
		<ion-item menu-close href="#/app/fund-transfers/view" ng-hide="!user.kscl">
			<img src="img/menu-icons/fund-transfer.png" alt="">
			<span>Fund Transfer</span>
		</ion-item>
		<ion-item menu-close href="#/app/history" ng-hide="!user.kscl">
			<img src="img/menu-icons/history.png" alt="">
			<span>History</span>
		</ion-item>
		<ion-item menu-close href="#/app/rq-info/view" ng-hide="!user.kscl">
			<img src="img/menu-icons/req-info.png" alt="">
			<span>Request Information</span>
		</ion-item>
		<ion-item menu-close href="#/app/news">
			<img src="img/menu-icons/news.png" alt="">
			<span>News</span>
		</ion-item>
		<ion-item menu-close href="#/app/settings/index">
			<img src="img/menu-icons/settings.png" alt="">
			<span>Settings</span>
		</ion-item>
	</ion-list>
</ion-content>