<ion-content>
	<ion-list>
		<ion-item class="bar bar-header bar-dark"></ion-item>
		<ion-item menu-close href="#/app/dashboard">
			Dashboard
		</ion-item>
		<ion-item menu-close href="#/app/profile">
			Profile
		</ion-item>
		<ion-item menu-close href="#/app/portfolio/statuses">
			Portfolio
		</ion-item>
		<ion-item menu-close href="#/app/orders/view">
			Order Management
		</ion-item>
		<ion-item menu-close href="">
			Market Info
		</ion-item>
		<ion-item menu-close href="#/app/alerts">
			Alerts
		</ion-item>
		<ion-item menu-close href="#/app/ipo/index">
			IPO Mangement
		</ion-item>
		<ion-item menu-close href="#/app/fund-transfers/view">
			Fund Transfer
		</ion-item>
		<ion-item menu-close href="">
			History
		</ion-item>
		<ion-item menu-close href="">
			Request Information
		</ion-item>
		<ion-item menu-close href="#/app/news">
			News
		</ion-item>
		<ion-item menu-close href="#/app/settings/index">
			Settings
		</ion-item>
	</ion-list>
</ion-content>