<ion-content cache-view="false">
	<ion-list>
		<ion-item class="bar bar-header bar-dark">
			MENU
		</ion-item>
		<ion-item menu-close href="#/app/dashboard">
			Dashboard 
		</ion-item>
		<ion-item menu-close href="#/app/profile">
			Profile
		</ion-item>
		<ion-item menu-close href="#/app/portfolio/statuses">
			Portfolio
		</ion-item>
		<ion-item menu-close href="#/app/orders/view" ng-hide="!user.kscl">
			Order Management
		</ion-item>
		<ion-item menu-close href="#/app/market-info">
			Market Info
		</ion-item>
		<ion-item menu-close href="#/app/alerts">
			Alerts
		</ion-item>
		<ion-item menu-close href="#/app/ipo/index" ng-if="user.kscl">
			IPO Mangement
		</ion-item>
		<ion-item menu-close href="#/app/fund-transfers/view" ng-hide="!user.kscl">
			Fund Transfer
		</ion-item>
		<ion-item menu-close href="#/app/history" ng-hide="!user.kscl">
			History
		</ion-item>
		<ion-item menu-close href="#/app/rq-info/view" ng-hide="!user.kscl">
			Request Information
		</ion-item>
		<ion-item menu-close href="#/app/news">
			News
		</ion-item>
		<ion-item menu-close href="#/app/settings/index">
			Settings
		</ion-item>
	</ion-list>
</ion-content>