<ion-view view-title="View Orders">
	<ion-nav-bar class="bar bar-header bar-dark">
		<ion-nav-back-button></ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<a href= "#/app/orders/manage" class="button button-primary" >Buy/Sell</a>
		</ion-nav-buttons>

	</ion-nav-bar>  

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        View Orders
      </div>
      <div class="row">
      	<div class="col">
      		<label for="">Filter Company</label>
      		<select ng-model="search.company" ng-options="company for company in companies" id=""></select>
      	</div>
      	<div class="col">
      		<ionic-datepicker input-obj="fromDatepickerObject">
			  <span class="col-table ion-calendar"> From ({{search.from == "" ? "Touch to select" : search.from}}) <i ng-click="clearFrom()" ng-if="search.from != ''" class="ion-backspace"></i></span>
			</ionic-datepicker>
      	</div>
      	<div class="col">
      		<ionic-datepicker input-obj="toDatepickerObject">
			  <span class="col-table ion-calendar"> To ({{search.to == "" ? "Touch to select" : search.to}}) <i ng-click="clearTo()" ng-if="search.to != ''" class="ion-backspace"></i></span>
			</ionic-datepicker>
      	</div>
      </div>
      <!--
      <div class="item item-text-wrap">
		<div class="row order-col">
			<div class="col col-table"> <p>Company</p></div>
			<div class="col col-table"> <p>Expire Date</p> </div>
			<div class="col col-table"> <p>Order Range</p></div>
			<div class="col col-table"> <p>Order Type</p> </div>
			<div class="col col-table"> <p>Quantity</p></div>
			<div class="col col-table"> <p>Remarks</p> </div>
			<div class="col col-table"> <p>Remarks</p> </div>
			<div class="col col-table"> <p>Status</p> </div>
			<div class="col col-table"> <p>Submission</p> </div>
		</div>
		<div class="row order-col" ng-repeat="order in orders">
			<div class="col col-table"> <p>{{order.company}}</p> </div>
			<div class="col col-table"> <p>{{order.expired_date}}</p></div>
			<div class="col col-table"> <p>{{order.order_id}}</p> </div>
			<div class="col col-table"> <p>{{order.order_range}}</p> </div>
			<div class="col col-table"> <p>{{order.order_time}}</p> </div>
			<div class="col col-table"> <p>{{order.order_type}}</p> </div>
			<div class="col col-table"> <p>{{order.quantity}}</p> </div>
			<div class="col col-table"> <p>{{order.remarks}}</p> </div>
			<div class="col col-table"> <p>{{order.status}}</p> </div>
			<div class="col col-table"> <p>{{order.submission_date}}</p> </div>
		</div>      	
      </div>
      -->
    </div>
	<div class="card" ng-repeat="order in orders" ng-click="openOrder(order)">
		<div class="item item-divider">
			{{order.company}}
		</div>
		<div class="item item-text-wrap">
			<div class="row">
				<div class="col">
					<p>Order ID</p>
					<p>{{order.order_id}}</p>
				</div>
				<div class="col">
					<p>Order time</p>
					<p>{{order.order_time}}</p>
				</div>
				<div class="col">
					<p>Order Status</p>
					<p>{{order.status}}</p>
				</div>
			</div>
		</div>
	</div>

</ion-view>
