<ion-view view-title="SHARE BALANCE">

	<ion-content class="padding">
		 <div class="card" ng-show="updating">
		 	<div class="item item-divider">
		 		<p style="text-align: center">UPDATING</p>
		 	</div>
		 </div>
		 <div class="card" ng-repeat="shareBalance in shareBalances">
	        <div class="item item-divider">
	          #{{$index+1}} {{shareBalance.company}}
	          <span ng-click="showCompanyDetail(shareBalance.company)" style="float:right">DETAILS</span>
	        </div>
	        <div class="list list-inset">
	          <div class="item">
	            <b>Quantity :</b> {{shareBalance.balance}}
	          </div>
	          <!-- <div class="item">
	            <b>Matured Quantity :</b> {{shareBalance.matured_balance}}
	          </div> -->
	          <!-- <div class="item">
	            <b>Buy Average :</b> {{shareBalance.buy_average_value}}
	          </div> -->
	          <!-- <div class="item">
	            <b>Breakeven Average :</b> {{shareBalance.breakeven_average}}
	          </div> -->
	          <!-- <div class="item">
	            <b>Buy Value :</b> {{shareBalance.balance * shareBalance.buy_average_value}}
	          </div> -->
	          <!-- <div class="item">
	            <b>YCP :</b> {{shareBalance.ycp}}
	          </div> -->
	          <div class="item">
	            <b>Market Value :</b> {{marketVal(shareBalance.ycp, shareBalance.balance)}}
	          </div>
	          <div class="item">
	            <b>Gain / Loss :</b> {{shareBalance.loss_gain}}
	          </div>
	          <div class="item" ng-click="openShare(shareBalance);">
	          	MORE
	          </div>
	        </div>
      </div>
     

	</ion-content>
</ion-view>