<ion-view title="Add Share Balance">
	<ion-nav-bar class="bar bar-header bar-dark">
		<ion-nav-back-button></ion-nav-back-button>
		
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

	</ion-nav-bar>

	<ion-content class="padding">
		<div class="card padding">

	        <div class="list">
				<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
					<span class="input-label">Selected Company : {{ companyName()}}</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Quantity</span>
					<input type="number" ng-model="form.quantity" placeholder="Enter a Quantity">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Buy Unit Price</span>
					<input type="number" ng-model="form.buy_average" placeholder="Enter a Buy Unit Price">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Breakeven Unit Price</span>
					<input disabled type="number" ng-model="form.breakeven_average" placeholder="Enter a Breakeven Unit Price">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Buy Value</span>
					<input disabled type="number" ng-model="form.buy_value" placeholder="Enter a Buy Value">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">YCP</span>
					<input type="number" ng-model="form.ycp" placeholder="Enter the YCP">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Market Value</span>
					<input disabled type="number" ng-model="form.market_value">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Gain / Loss (YCP)</span>
					<input type="text" ng-model="form.gain_loss" placeholder="Enter a Market Value">
				</label>				
			  <!--
			  <label class="item item-input item-stacked-label" ng-click="openSelectModal()">
			    <span class="input-label">Selected Company : {{ companyName()}}</span>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Quantity</span>
			    <input type="text" ng-model="form.quantity" placeholder="Enter a Quantity">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Matured Quantity</span>
			    <input type="text" ng-model="form.matured_quantity" placeholder="Enter a Matured Quantity">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Buy Average</span>
			    <input type="text" ng-model="form.buy_average" placeholder="Enter a Buy Average">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Breakeven Average</span>
			    <input type="text" ng-model="form.breakeven_average" placeholder="Enter a Breakeven Average">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Buy Value</span>
			    <input type="text" ng-model="form.buy_value" placeholder="Enter a Buy Value">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">YCP</span>
			    <input type="text" ng-model="form.ycp" placeholder="Enter the YCP">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Market Value</span>
			    <input type="text" ng-model="form.market_value" placeholder="Enter a Market Value">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Gain / Loss (YCP)</span>
			    <input type="text" ng-model="form.gain_loss" placeholder="Enter a Market Value">
			  </label>
			  -->
			</div>
			<button class="button button-block button-positive" ng-click="addToPortfolio()">
			  Add
			</button>
      </div>
     

	</ion-content>
</ion-view>