<ion-content>
<!-- money balance -->
<div class="row responsive-sm">
		<div class="card col">
		  <div class="item item-divider">
		    Money Balance
		  </div>
		  <div class="list list-inset">

		    <div class="item">
		      <b>Current Balance :</b> 382.72
		    </div>
		    <div class="item">
		      <b>Mature Balance :</b> 322.38
		    </div>
		    <div class="item">
		      <b>Total Deposit :</b> 18160.38
		    </div>
		    <div class="item">
		      <b>Total Withdraw:</b> 5000.00
		    </div>
		  </div>
		</div>
	<!-- over all  -->
		<div class="card col">
		  <div class="item item-divider">
		   Overall Status
		  </div>
		  <div class="list list-inset">

		    <div class="item">
		      <b>Total Value :</b> 3822342.72
		    </div>
		    <div class="item">
		      <b>Total Market Value :</b> 322.38
		    </div>
		    <div class="item">
		      <b>Total Gain / Loss :</b> -16,661.23
		    </div>
		    <div class="item">
		      <b>Current  Gain / Loss :</b> -13,663.23
		    </div>
		  </div>
		</div>
	</div>
<!-- multiple share balance view -->
	<div class="card">
	  <div class="item item-divider">
	  Share Balance:
	  </div>
		<div class="row responsive-sm">		
			<div class="card col">
				 <div class="item item-divider">
				 #1: RNSPIN
				  </div>

				  <div class="list list-inset">

			    <div class="item">
			      <b>Quantity :</b> 234
			    </div>
			    <div class="item">
			      <b>Matured Quantity :</b> 0
			    </div>
			    <div class="item">
			      <b>Buy Average :</b> 23.37
			    </div>
			    <div class="item">
			      <b>Breakeven Average :</b> -13,663.23
			    </div>
			    <div class="item">
			      <b>Buy Value :</b> 493,242
			    </div>
			    <div class="item">
			      <b>YCP :</b> 23,00
			    </div>
			    <div class="item">
			      <b>Market Value :</b> 483,000.00
			    </div>
			    <div class="item">
			      <b>Gain/Loss(YCP) :</b> -13,663.23
			    </div>
			  </div>
			</div>


			<div class="card col">
				 <div class="item item-divider">
				 #2: KUNKA
				  </div>

				  <div class="list list-inset">

			    <div class="item">
			      <b>Quantity :</b> 234
			    </div>
			    <div class="item">
			      <b>Matured Quantity :</b> 0
			    </div>
			    <div class="item">
			      <b>Buy Average :</b> 23.37
			    </div>
			    <div class="item">
			      <b>Breakeven Average :</b> -13,663.23
			    </div>
			    <div class="item">
			      <b>Buy Value :</b> 493,242
			    </div>
			    <div class="item">
			      <b>YCP :</b> 23,00
			    </div>
			    <div class="item">
			      <b>Market Value :</b> 483,000.00
			    </div>
			    <div class="item">
			      <b>Gain/Loss(YCP) :</b> -13,663.23
			    </div>
			  </div>
			</div>
		 </div>
	</div>
</ion-content>