<ion-view view-title="PORTFOLIO STATUSES">
  <ion-content class="padding">
    <a href="#/app/portfolio/share-balances" class="button button-kscl-yellow button-block button-balanced icon-right ion-chevron-right">SHARE BALANCE</a>
    
    <a ng-hide="user.kscl" href="#/app/portfolio/add" class="button button-kscl-orange button-block button-balanced icon-right ion-chevron-right">ADD A NEW PORTFOLIO</a>

    <div class="row responsive-sm">
      <div class="card col">
        <div class="item item-divider">
          Money Balance <span ng-show="loading">(Loading)</span>
        </div>
        <div class="list list-inset" ng-show="!status.money_balance">
          <div class="item">
              <b>Register to KSCL and become a premium user for this <br/>option.</b>
          </div>
        </div>
      
        <div class="list list-inset" ng-show="status.money_balance">
          <div class="item">             
            <div class="row">
              <div class="col"><b>Current Balance :</b></div>
              <div class="col" style="text-align:right">{{status.money_balance.current_balance}}</div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Mature Balance :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.money_balance.matured_balance}}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Total Deposit :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.money_balance.total_deposit}}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Total Withdraw :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.money_balance.total_withdraw}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card col">
        <div class="item item-divider">
          Overall Status <span ng-show="loading">(Loading)</span>
        </div>
        <div class="list list-inset" ng-show="!status.over_all">
          <div class="item">
              <b>Register to KSCL and become a premium user for this <br/>option.</b>
          </div>
        </div>

        <div class="list list-inset" ng-show="status.over_all">
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Total Value :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.over_all.total_value}}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Total Market Value :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.over_all.total_market_value}}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Total Gain / Loss :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.over_all.total_gain_or_loss}}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <b>Current  Gain / Loss :</b>
              </div>
              <div class="col" style="text-align:right">
                {{status.over_all.current_total_loss_gain}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
  </ion-content>
</ion-view>