<ion-view view-title="Request a Fund Transfer">
  <ion-content>
	<div class="card">
		<div class="item item-divider">
			Create a new Fund Transfer Request
		</div>
		<div class="item item-text-wrap">
			<div class="row">
				<div class="col">select type</div>
				<div class="col">
					<select ng-model="ft.type" ng-options="type.value as type.name for type in types"></select>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap" ng-if="ft.type == 'cheque_requisition'">
			<div class="row">
				<div class="col">Collection Point</div>
				<div class="col">
					<select ng-model="ft.collection_point" ng-options="cp.value as cp.name for cp in collectionPoints"></select>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<div class="row">
				<div class="col"><input placeholder="Amount" type="text" ng-model="ft.requested_amount"></div>
				<div class="col"><button ng-click="submit()" class="button button-positive">submit</button></div>
			</div>
		</div>
	</div>

	
	<div class="row" ng-show="ft.type == 'cheque_requisition' || ft.type == 'direct_transfer'">
		<div class="col">
			<div class="card">
				<div class="item item-divider">
					Bank Details
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<div class="col col-table">Bank Name</div>
						<div class="col col-table">{{extraInfo.bank_details.bank_name}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Branch Name</div>
						<div class="col col-table">{{extraInfo.bank_details.branch_name}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Account No</div>
						<div class="col col-table">{{extraInfo.bank_details.account_no}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Bank Routing No</div>
						<div class="col col-table">{{extraInfo.bank_details.bank_routing_no}}</div>
					</div>
				</div>
			</div>			
		</div>
		
		<div class="col">
			<div class="card">
				<div class="item item-divider">
					Account Details
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<div class="col col-table">Current Balance</div>
						<div class="col col-table">-{{extraInfo.account_details.current_balance}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Matured Balance</div>
						<div class="col col-table">-{{extraInfo.account_details.matured_balance}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Requested date</div>
						<div class="col col-table">-{{extraInfo.account_details.request_date}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" ng-show="ft.type == 'cheque_requisition' || ft.type == 'direct_transfer'">
				<div class="item item-divider">
					Already Pending Request
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<div class="col col-table">Total Amount</div>
						<div class="col col-table">-{{extraInfo.pending_request.total_ammount}}</div>
					</div>
				</div>
			</div>			
		</div>		
	</div>

	
	<div class="row" ng-show="ft.type == 'transfer_to_ipo'">
		<div class="col">
			<div class="card">
				<div class="item item-divider">
					IPO Account Details
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<div class="col col-table">Available Balance:</div>
						<div class="col col-table">-{{extraInfo.ipo_account_details.available_balance}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Actual Balance:</div>
						<div class="col col-table">-{{extraInfo.ipo_account_details.actual_balance}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="item item-divider">
					Trade Account Details
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<div class="col col-table">Current Balance</div>
						<div class="col col-table">-{{extraInfo.trade_account_details.current_balance}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Matured Balance</div>
						<div class="col col-table">-{{extraInfo.trade_account_details.matured_balance}}</div>
					</div>
					<div class="row">
						<div class="col col-table">Requested date</div>
						<div class="col col-table">-{{extraInfo.trade_account_details.request_date}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  </ion-content>
</ion-view>
