<ion-view view-title="Fund Transfer Requests" cache-view="false">

  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Fund Transfer History <span ng-show="loading" style="float:right">Loading</span>
      </div>
    </div>
    

    <div class="card" ng-repeat="ft in fts">
      <div class="item item-divider">
        Amount : {{ft.amount}}
      </div>
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"><p>Requested Date</p></div>
          <div class="col col-table"><p>{{ft.request_date}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p>Requested Type</p></div>
          <div class="col col-table"><p>{{ft.request_type}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p>Cheque Collection Point</p></div>
          <div class="col col-table"><p>{{ft.cheque_collection_branch}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p>Delivery Date</p></div>
          <div class="col col-table"><p>{{ft.delivery_date}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p>Status</p></div>
          <div class="col col-table"><p>{{ft.status}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p>Remarks</p></div>
          <div class="col col-table"><p>{{ft.remarks}}</p></div>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar style="margin-bottom : 10px;">
    <button ng-click="goToTransferFunds()" class="button button-block button-positive"> FUND TRANSFER REQUESTS</button>
  </ion-footer-bar>

</ion-view>
