<ion-view view-title="Transaction History">
  <ion-content class="padding">

    <ion-list>
      <ion-item>
        <label for="">Select Transaction Type</label>
        <select name="" id="" ng-model="search.type">
          <option value="money">Money</option>
          <option value="share">Share</option>
          <option value="trade">Trade</option>
        </select>

        <span ng-show="loading" style="float: right">loading</span>
      </ion-item>
      
      <ion-item>
        <div class="row">
          <div class="col">
            <ionic-datepicker input-obj="fromDatepickerObject">
              <span class="col-table ion-calendar"> From Date ({{search.from? search.from : "touch to select"}})</span>
            </ionic-datepicker>
          </div>
          <div class="col">
            <ionic-datepicker input-obj="toDatepickerObject">
              <span class="col-table ion-calendar"> To Date ({{search.to? search.to : "touch to select"}})</span>
            </ionic-datepicker>
          </div>
        </div>
      </ion-item>

    </ion-list>

     <div class="card" ng-show="search.type == 'share' && results.length > 0">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p><b>Entry Date</b></p></div>
          <div class="col col-table"> <p><b>Qty</b></p> </div>
          <div class="col col-table"> <p><b>Deposite withdrawal</b></p></div>
          <div class="col col-table"> <p><b>Bill No</b></p> </div>
          <div class="col col-table"> <p><b>Deposite Type</b></p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results" ng-show="search.type == 'share' && results.length > 0">
          <div class="col col-table"><p>{{result.entry_date}}</p></div>
          <div class="col col-table"><p>{{result.quantity}}</p></div>
          <div class="col col-table"><p>{{result.deposit_withdrawal}}</p></div>
          <div class="col col-table"><p>{{result.bill_no}}</p></div>
          <div class="col col-table"><p>{{result.deposite_type}}</p></div>
        </div>
      </div>
    </div>

     <div class="card" ng-show="search.type == 'money' && results.length > 0">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p><b>Rcv.Date</b></p></div>
          <div class="col col-table"> <p><b>Deposit / Withdrawal</b></p> </div>
          <div class="col col-table"> <p><b>Amount</b></p></div>
          <div class="col col-table"> <p><b>Bank</b></p> </div>
          <div class="col col-table"> <p><b>Chq No.</b></p> </div>
          <div class="col col-table"> <p><b>Sl No. </b></p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results" ng-show="search.type == 'money' && results.length > 0">
          <div class="col col-table"><p>{{result.recieve_date}}</p></div>
          <div class="col col-table"><p>{{result.deposit_withdrawal}}</p></div>
          <div class="col col-table"><p>{{result.amount}}</p></div>
          <div class="col col-table"><p>{{result.bank_name}}</p></div>
          <div class="col col-table"><p>{{result.cheque_no}}</p></div>
          <div class="col col-table"><p>{{result.sl_no}}</p></div>
        </div>
      </div>
    </div>    


     <div class="card" ng-show="search.type == 'trade' && results.length > 0">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p><b>Trans Date</b></p></div>
          <div class="col col-table"> <p><b>Trans Time</b></p> </div>
          <div class="col col-table"> <p><b>Buy/Sell</b></p></div>
          <div class="col col-table"> <p><b>Group</b></p></div>
          <div class="col col-table"> <p><b>Share Qty.</b></p> </div>
          <div class="col col-table"> <p><b>Price</b></p> </div>
          <div class="col col-table"> <p><b>Total</b></p> </div>
          <div class="col col-table"> <p><b>Comm</b></p> </div>
          <div class="col col-table"> <p><b>Workst. ID</b></p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results" ng-show="search.type == 'trade' && results.length > 0">
          <div class="col col-table"><p>{{result.tarsection_date}}</p></div>
          <div class="col col-table"><p>{{result.tarsection_time}}</p></div>
          <div class="col col-table"><p>{{result.buy_sell}}</p></div>
          <div class="col col-table"><p>{{result.group}}</p></div>
          <div class="col col-table"><p>{{result.share_quantity}}</p></div>
          <div class="col col-table"><p>{{result.price}}</p></div>
          <div class="col col-table"><p>{{result.total}}</p></div>
          <div class="col col-table"><p>{{result.comm}}</p></div>
          <div class="col col-table"><p>{{result.workstation_id}}</p></div>
        </div>
      </div>
    </div>    

    <div class="card" ng-show="results.length == 0">
      <div class="item item-text-wrap">
        NO DATA
      </div>
    </div>
  </ion-content>
</ion-view>