<ion-view view-title="Transaction History">
  <ion-content class="padding">

    <ion-list>
      <ion-item>
        <label for="">Select Transaction Type</label>
        <select style="float: right" name="" id="" ng-model="search.type">
          <option value="money">Money</option>
          <option value="share">Share</option>
          <option value="trade">Trade</option>
        </select>
      </ion-item>
      
      <ion-item>
          <ionic-datepicker input-obj="fromDatepickerObject">
            <span class="col-table ion-calendar"> From Date ({{search.from? search.from : "touch to select"}})</span>
          </ionic-datepicker>
          <span ng-show="loading" style="float : right">Loading</span>
      </ion-item>
      
      <ion-item>
        <ionic-datepicker input-obj="toDatepickerObject">
            <span class="col-table ion-calendar"> To Date ({{search.to? search.to : "touch to select"}})</span>
          </ionic-datepicker>
      </ion-item>  
    </ion-list>

    <div class="card" ng-repeat="result in results" ng-show="search.type == 'share'">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-table">Entry Date</div>
          <div class="col col-table">{{result.entry_date}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Qty</div>
          <div class="col col-table">{{result.quantity}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Deposite withdrawal</div>
          <div class="col col-table">{{result.deposit_withdrawal}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Bill No</div>
          <div class="col col-table">{{result.bill_no}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Deposite Type</div>
          <div class="col col-table">{{result.deposite_type}}</div>
        </div>
      </div>
    </div>


    <div class="card" ng-repeat="result in results" ng-show="search.type == 'money' ">
      <div class="item item-divider">
        {{result.company}}
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-table">Rcv.Date</div>
          <div class="col col-table">{{result.recieve_date}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Depo. Withdrawal</div>
          <div class="col col-table">{{result.deposit_withdrawal}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Amount</div>
          <div class="col col-table">{{result.amount}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Bank</div>
          <div class="col col-table">{{result.bank_name}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Chq No.</div>
          <div class="col col-table">{{result.cheque_no}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Sl No.</div>
          <div class="col col-table">{{result.sl_no}}</div>
        </div>
      </div>
    </div>

    <div class="card" ng-repeat="result in results" ng-show="search.type == 'trade' ">
      <div class="item item-divider">
        {{result.company}}
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-table">Trans Date</div>
          <div class="col col-table">{{result.tarsection_date}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Trans Time</div>
          <div class="col col-table">{{result.tarsection_time}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Buy/Sell</div>
          <div class="col col-table">{{result.buy_sell}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Group</div>
          <div class="col col-table">{{result.group}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Share Qty.</div>
          <div class="col col-table">{{result.share_quantity}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Price</div>
          <div class="col col-table">{{result.price}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Total</div>
          <div class="col col-table">{{result.total}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Comm</div>
          <div class="col col-table">{{result.comm}}</div>
        </div>
        <div class="row">
          <div class="col col-table">Workst. ID</div>
          <div class="col col-table">{{result.workstation_id}}</div>
        </div>
      </div>
    </div>
    
    <div class="card" ng-show="results.length == 0">
      <div class="item item-divider">
        NO DATA
      </div>
    </div>

  </ion-content>
</ion-view>