<ion-view view-title="Transaction History">
  <ion-content class="padding">

    <ion-list>
      <ion-item>
        <label for="">Select Transaction Type</label>
        <select name="" id="" ng-model="search.type">
          <option value="money">Money</option>
          <option value="share">Share</option>
          <option value="trade">Trade</option>
        </select>
      </ion-item>
      
      <ion-item>
        <div class="row">
          <div class="col">
            <ionic-datepicker input-obj="fromDatepickerObject">
              <span class="col-table ion-calendar"> From Date ({{search.from? search.from : "touch to select"}})</span>
            </ionic-datepicker>
          </div>
          <div class="col">
            <ionic-datepicker input-obj="toDatepickerObject">
              <span class="col-table ion-calendar"> To Date ({{search.to? search.to : "touch to select"}})</span>
            </ionic-datepicker>
          </div>
        </div>
      </ion-item>

    </ion-list>

     <div class="card" ng-show="search.type == 'share'">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p>Entry Date</p></div>
          <div class="col col-table"> <p>Qty</p> </div>
          <div class="col col-table"> <p>Deposite withdrawal</p></div>
          <div class="col col-table"> <p>Bill No</p> </div>
          <div class="col col-table"> <p>Deposite Type</p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results">
          <div class="col col-table"><p>{{result.entry_date}}</p></div>
          <div class="col col-table"><p>{{result.quantity}}</p></div>
          <div class="col col-table"><p>{{result.deposit_withdrawal}}</p></div>
          <div class="col col-table"><p>{{result.bill_no}}</p></div>
          <div class="col col-table"><p>{{result.deposite_type}}</p></div>
        </div>
      </div>
    </div>

     <div class="card" ng-show="search.type == 'money'">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p>Rcv.Date</p></div>
          <div class="col col-table"> <p>Depo. Withdrawal</p> </div>
          <div class="col col-table"> <p>Amount</p></div>
          <div class="col col-table"> <p>Bank</p> </div>
          <div class="col col-table"> <p>Chq No.</p> </div>
          <div class="col col-table"> <p>Sl No.</p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results">
          <div class="col col-table"><p>{{result.recieve_date}}</p></div>
          <div class="col col-table"><p>{{result.deposit_withdrawal}}</p></div>
          <div class="col col-table"><p>{{result.amount}}</p></div>
          <div class="col col-table"><p>{{result.bank_name}}</p></div>
          <div class="col col-table"><p>{{result.cheque_no}}</p></div>
          <div class="col col-table"><p>{{result.sl_no}}</p></div>
        </div>
      </div>
    </div>    


     <div class="card" ng-show="search.type == 'trade'">
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p>Trans Date</p></div>
          <div class="col col-table"> <p>Trans Time</p> </div>
          <div class="col col-table"> <p>Buy/Sell</p></div>
          <div class="col col-table"> <p>Group</p></div>
          <div class="col col-table"> <p>Share Qty.</p> </div>
          <div class="col col-table"> <p>Price</p> </div>
          <div class="col col-table"> <p>Total</p> </div>
          <div class="col col-table"> <p>Comm</p> </div>
          <div class="col col-table"> <p>Workst. ID</p> </div>
        </div>
        <div class="row order-col" ng-repeat="result in results">
          <div class="col col-table"><p>{{result.tarsection_date}}</p></div>
          <div class="col col-table"><p>{{result.tarsection_time}}</p></div>
          <div class="col col-table"><p>{{result.buy_sell}}</p></div>
          <div class="col col-table"><p>{{result.group}}</p></div>
          <div class="col col-table"><p>{{result.share_quantity}}</p></div>
          <div class="col col-table"><p>{{result.price}}</p></div>
          <div class="col col-table"><p>{{result.total}}</p></div>
          <div class="col col-table"><p>{{result.comm}}</p></div>
          <div class="col col-table"><p>{{result.workstation_id}}</p></div>
        </div>
      </div>
    </div>    


  </ion-content>
</ion-view>