<ion-view view-title="MARKET INFO" cache-view="false">

  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <p style="text-align: center">{{marketInfoTitle}}<span ng-show="loading"> (Loading) </span></p>
      </div>
      <div class="item item-divider" style="text-align :center">
        <input placeholder="search.." ng-model="search.companyName">
      </div>
    </div>
    
    <div class="card" ng-repeat="company in companies" ng-hide="companies.length == 0">
    <div class="item item-divider">
      {{company.company}} <i ng-click="openCompany(company)" style="float: right"><button>MORE</button></i>
    </div>
    <div class="item item-text-wrap">
      <div class="row">
        <div class="col">
          <p><b>YCP</b></p>
          <p> <i style="color: red" ng-show="company.ycp < company.previous_ycp" class="ion-arrow-down-c"></i> <i style="color:green" ng-show="company.ycp > company.previous_ycp" class="ion-arrow-up-c"></i> {{company.ycp}}</p>
        </div>
        <div class="col">
          <p><b>High</b></p>
          <p>{{company.high}}</p>
        </div>
        <div class="col">
          <p><b>Low</b></p>
          <p>{{company.low}}</p>
        </div>
        <div class="col">
          <p><b>LTP</b></p>
          <p>{{company.ltp}}</p>
        </div>
      </div>
    </div>
  </div>
    <!--
    <div class="card" ng-repeat="ft in companies">
      <div class="item item-divider" style="text-align:center">
        {{ft.company}}
      </div>
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"><p><b>Change</b></p></div>
          <div class="col col-table"><p>{{ft.change}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>High </b></p></div>
          <div class="col col-table"><p>{{ft.high}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>Low </b></p></div>
          <div class="col col-table"><p>{{ft.low}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>LTP </b></p></div>
          <div class="col col-table"><p>{{ft.ltp}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>Trade </b></p></div>
          <div class="col col-table"><p>{{ft.trade}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>Value </b></p></div>
          <div class="col col-table"><p>{{ft.value}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>Volume </b></p></div>
          <div class="col col-table"><p>{{ft.volume}}</p></div>
        </div>
        <div class="row order-col">
          <div class="col col-table"><p><b>YCP </b></p></div>
          <div class="col col-table"><p> <i style="color: red" ng-show="ft.ycp < ft.previous_ycp" class="ion-arrow-down-c"></i> <i style="color:green" ng-show="ft.ycp > ft.previous_ycp" class="ion-arrow-up-c"></i> {{ft.ycp}}</p></div>
        </div>
      </div>
    </div>
    -->

  </ion-content>

</ion-view>
