<ion-view view-title="{{marketInfoTitle}}" cache-view="false">

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Market Info <button ng-disabled="loading" ng-click="refresh()"><span>{{loading?'Loading' : 'Refresh'}}</span></button> <input placeholder="search.." ng-model="search.companyName" style="float:right">
      </div>
      <div class="item item-text-wrap">

        <div class="row order-col">
          <div class="col col-table"> <p><b>Company</b></p></div>
          <div class="col col-table"> <p><b>Change</b></p></div>
          <div class="col col-table"> <p><b>High</b></p> </div>
          <div class="col col-table"> <p><b>Low</b></p></div>
          <div class="col col-table"> <p><b>LTP</b></p> </div>
          <div class="col col-table"> <p><b>Trade</b></p> </div>
          <div class="col col-table"> <p><b>Value</b></p> </div>
          <div class="col col-table"> <p><b>Volume</b></p> </div>
          <div class="col col-table"> <p><b>YCP</b></p> </div>
        </div>
        <div class="row order-col" ng-repeat="ft in companies">
          <div class="col col-table"><p>{{ft.company}}</p></div>
          <div class="col col-table"><p>{{ft.change}}</p></div>
          <div class="col col-table"><p>{{ft.high}}</p></div>
          <div class="col col-table"><p>{{ft.low}}</p></div>
          <div class="col col-table"><p>{{ft.ltp}}</p></div>
          <div class="col col-table"><p>{{ft.trade}}</p></div>
          <div class="col col-table"><p>{{ft.value}}</p></div>
          <div class="col col-table"><p>{{ft.volume}}</p></div>
          <div class="col col-table"><p> <i style="color: red" ng-show="ft.ycp < ft.previous_ycp" class="ion-arrow-down-c"></i> <i style="color:green" ng-show="ft.ycp > ft.previous_ycp" class="ion-arrow-up-c"></i> {{ft.ycp}}</p></div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
