<ion-view view-title="Login" hide-nav-bar="true" class="splash-page" style="text-align:center">
  <ion-content scroll="false">
    <div class="padding logo">
      <br>
      <img src="/img/logo.png" alt="" style="width:100%">
    </div>
    <div class="login-form">
      <div class="card">
       <h1 ng-show="form.signingUp">Please Enter Your Credintialas</h1>
        <div class="list">
          <label ng-show="form.signingUp" class="item item-input">
            <input type="text" ng-model="form.name" placeholder="Name">
          </label>
          <label ng-show="form.signingUp" class="item item-input">
            <input type="number" ng-model="form.age" placeholder="Age">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="form.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="form.password" placeholder="Password">
          </label>
        </div>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-class="{'button-positive': !form.signingUp, 'button-balanced': form.signingUp}" ng-click="submitForm(form.email, form.password, form.signingUp)">
          {{ form.signingUp ? 'Sign up' : 'Sign in' }}
        </button>
      </div>
    </div>


    <div class="padding signup-opt" ng-click="form.signingUp = !form.signingUp">
      {{ form.signingUp ? 'Have an account? Sign in!' : 'Need an account? Sign up!' }}
    </div>

  </ion-content>
</ion-view>