<div class="bar bar-header bar-kscl-gray">
  <h1 class="title">KSCL SHARE MARKET MANAGEMENT</h1>
</div>


<div class="content has-header padding">
<div class="row" style="text-align:center">
  <h3 style="text-align:center; width:100%; padding-bottom:40px;">Please log in to continue</h3>
</div>
<div class="row">
      <div class="list" style="width:100%">  
      <label class="item item-input" ng-show="form.signingUp">
        <span class="input-label" style=>Name</span>
        <input type="text" placeholder="Your Full name" ng-model="form.name" >
      </label>
      <label class="item item-input">
        <span class="input-label">Email * </span>
        <input type="text" placeholder="Enter Email" ng-model="form.email" >
      </label>
      <label class="item item-input" ng-show="form.signingUp">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="Enter Phonenumber" ng-model="form.phone" >
      </label>
      <label class="item item-input">
        <span class="input-label">Password * </span>
        <input type="password" placeholder="*******" ng-model="form.password">
      </label>
    <button ng-disabled="submitting || form.password == '' || form.email == ''" class="button button-block button-kscl-yellow" ng-click="submitForm(form.email, form.password, form.signingUp)">{{form.signingUp? "Sign up" : "Sign in"}}</button>
    <button ng-disabled="submitting" ng-click="form.signingUp = !form.signingUp" class="button button-block button-kscl-orange">{{form.signingUp ? "Go to Login" : "Sign up for Account"}}</button>
    </div>
</div>
  <div class="row" style="margin-top:30px;">
    <img  src="img/logo.png" alt="" style="margin:0 auto; width: 100%; position: relative; max-width: 300px;">
  </div>
</div>