<ion-view view-title="DSE News">
  <ion-content>
    <div class="card" ng-show="updating == true">
      <div class="item item-text-wrap">
        <p style="text-align:center">Updating</p>
      </div>
    </div>
    <div class="card" ng-repeat="news in prothomAloNews" ng-show="showProthomAlo == true">
      <div class="item item-divider">
        {{news.title}}<br/><b style="font-size: 11px">{{news.time}}</b>
      </div>
      <div class="item item-text-wrap">
        <p>{{news.body}}</p>
        <p><a href="" ng-click="openLink(news.link)">READ MORE ON [Prothomalo]</a></p>
      </div>
    </div>

    
    <div class="card" ng-repeat="news in newsItems" ng-show="showProthomAlo == false">
      <div class="item item-divider">
        {{news.title}}
      </div>
      <div class="item item-text-wrap">
        <p>{{news.body}}</p>
        <p><b>{{news.date}}</b></p>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar style="margin-bottom : 40px;" >
    <div class="row" style="margin-bottom : 40px;">
      <div class="col"><button ng-class="{'button-outline' : showProthomAlo, 'button-kscl-yellow': !showProthomAlo}" ng-click="showProthomAlo = false" class="button button-block"> DSE NEWS </button></div>
      <div class="col"><button ng-class="{'button-outline' : !showProthomAlo, 'button-kscl-yellow' : showProthomAlo}" ng-click="showProthomAlo = true" class="button button-block"> Prothomalo NEWS </button></div>
    </div>
  </ion-footer-bar>
</ion-view>
