<div class="row row-center">
<!-- <div class="col col-25 col-offset-25">
    <div class="padding logo">
      <br>
      <img src="img/logo_small.png" width="100%">
    </div>
</div> -->
  <div class="col col-33 col-offset-33">
  	<div class="card" style="text-align:center; background-color: rgba(255,255,255,0.5);">
	    <div class="login-form">
	      <div class="card">
	      <h2 ng-hide="form.signingUp" style="text-align:center" class="positive">Log in to your account</h2>
	      <h2 ng-show="form.signingUp" style="text-align:center" class="positive">Please Enter Your Credintialas</h2>
	        <div class="list">

		      <label ng-show="form.signingUp" class="item item-input">
	            <input type="text" ng-model="form.name" placeholder="Name">
	          </label>
	          <label class="item item-input">
	            <input type="email" ng-model="form.email" placeholder="Email">
	          </label>
	          <label ng-show="form.signingUp" class="item item-input">
	            <input type="text" ng-model="form.phone" placeholder="Phone">
	          </label>
	          <label class="item item-input">
	            <input type="password" ng-model="form.password" placeholder="Password">
	          </label>
	        </div>
	      </div>

	      <div class="padding-left padding-right">
        	<button class="button button-block action-button ion" ng-class="{'button-positive ion-log-in': !form.signingUp, 'button-balanced ion-navigate': form.signingUp}" ng-click="submitForm(form.email, form.password, form.signingUp)">
        	  {{ form.signingUp ? 'Sign up' : 'Sign in' }}
        	</button>
	      </div>
	    </div>


	    <div class="padding signup-opt" ng-click="form.signingUp = !form.signingUp">
	      {{ form.signingUp ? 'Have an account? ' : 'Need an account? '}}
	      <span ng-show="form.signingUp"  class="badge badge-sm badge-positive">Sign in!</span>
	      <span ng-hide="form.signingUp" class="badge badge-sm badge-balanced">Sign up!</span> 
	    </div>
  	</div>
  </div>
</div>