<ion-view view-title="Request informations" cache-view="false">
  
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Your Request informations. <span ng-show="loading"> (Loading) </span> <i ng-click="fetchInfos()" style="float: right" class="icon ion-android-refresh"></i>
      </div>
      <div class="item item-text-wrap">
        <div class="row order-col">
          <div class="col col-table"> <p><b>Date</b></p></div>
          <div class="col col-table"> <p><b>Subject</b></p> </div>
          <div class="col col-table"> <p><b>Description</b></p></div>
          <div class="col col-table"> <p><b>Status</b></p> </div>
        </div>
        <div class="row order-col" ng-repeat="rq in request_infos">
          <div class="col col-table"><p>{{rq.Received_Date}}</p></div>
          <div class="col col-table"><p>{{rq.Subject}}</p></div>
          <div class="col col-table"><p>{{rq.Body}}</p></div>
          <div class="col col-table"><p>{{rq.status}}</p></div>
        </div>
      </div>

    </div>
  </ion-content>

    <ion-footer-bar style="margin-bottom : 10px;">
      <button ng-click="goToNewReq()" class="button button-block button-positive"> New Request</button>
    </ion-footer-bar>


</ion-view>
