<ion-view view-title="{{title}}">
	<ion-content>
		<div class="card">
			<!-- <div class="item item-divider">
				<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
				    <span class="input-label">Selected Company : {{ companyName()}}</span>
				 </label>
			</div>
			<div class="item item-divider">
				<label class="item item-input item-stacked-label">
				    <input type="text" ng-model="setting.price">
				 </label>
			</div> -->
			<div class="list">
				<label class="item item-input item-stacked-label">
				<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
					<span class="input-label">Selected Company : {{ companyName()}}</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Price</span>
					<input type="text" placeholder="0.0" ng-model="newSetting.price">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Up/Down</span>
					<select ng-model="newSetting.level">
						<option value="up">Up</option>
						<option value="down">Down</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label" >
					<ion-toggle ng-model="newSetting.active" toggle-class="toggle-calm">Active</ion-toggle>
				</label>
				
				<label class="button button-positive button-full" for="" ng-click="submitAdd()">
					Submit
				</label>

			</div>

		</div>
	</ion-content>
</ion-view>
