<ion-view view-title="{{title}}">
	<ion-content>
		<div class="card">
			<!-- <div class="item item-divider">
				<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
				    <span class="input-label">Selected Company : {{ companyName()}}</span>
				 </label>
			</div>
			<div class="item item-divider">
				<label class="item item-input item-stacked-label">
				    <input type="text" ng-model="setting.price">
				 </label>
			</div> -->
			<div class="list">
				<label class="item item-input item-stacked-label">
				<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
					<span class="input-label">Selected Company : {{ companyName()}}</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Price</span>
					<input type="text" placeholder="0.0" ng-model="newSetting.price">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Up/Down</span>
					<select ng-model="newSetting.level">
						<option value="up">Up</option>
						<option value="down">Down</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label" >
					<ion-toggle ng-model="newSetting.active" toggle-class="toggle-calm">Active</ion-toggle>
				</label>
				
				<label class="button button-positive button-full" for="" ng-click="submitAdd()">
					Submit
				</label>

			</div>

		</div>


		<div class="card" ng-show="company">
			<div class="item item-divider">
				{{company.company}}
			</div>
			<div class="item item-textwrap">
				<div class="row">
					<div class="col col-table">change</div>
					<div class="col col-table">{{company.change}}</div>
				</div>
				<div class="row">
					<div class="col col-table">high</div>
					<div class="col col-table">{{company.high}}</div>
				</div>
				<div class="row">
					<div class="col col-table">low</div>
					<div class="col col-table">{{company.low}}</div>
				</div>
				<div class="row">
					<div class="col col-table">ltp</div>
					<div class="col col-table">{{company.ltp}}</div>
				</div>
				<div class="row">
					<div class="col col-table">trade</div>
					<div class="col col-table">{{company.trade}}</div>
				</div>
				<div class="row">
					<div class="col col-table">value</div>
					<div class="col col-table">{{company.value}}</div>
				</div>
				<div class="row">
					<div class="col col-table">volume</div>
					<div class="col col-table">{{company.volume}}</div>
				</div>
				<div class="row">
					<div class="col col-table">ycp</div>
					<div class="col col-table">{{company.ycp}}</div>
				</div>

			</div>
		</div>



		<div class="card" ng-show="SBCompany">
			<div class="item item-divider">
				Portfolio status for {{company.company}}
			</div>
			<div class="item item-textwrap">
				<div class="row">
					<div class="col col-table">Balance</div>
					<div class="col col-table">{{SBCompany.balance}}</div>
				</div>
				<div class="row">
					<div class="col col-table">Breakeven Avg.</div>
					<div class="col col-table">{{SBCompany.breakeven_average}}</div>
				</div>
				<div class="row">
					<div class="col col-table">Buy Avg value</div>
					<div class="col col-table">{{SBCompany.buy_average_value}}</div>
				</div>
				<div class="row">
					<div class="col col-table">Loss Gain</div>
					<div class="col col-table">{{SBCompany.loss_gain}}</div>
				</div>
				<div class="row">
					<div class="col col-table">LTP</div>
					<div class="col col-table">{{SBCompany.ltp}}</div>
				</div>
				<div class="row">
					<div class="col col-table">Market group</div>
					<div class="col col-table">{{SBCompany.market_group}}</div>
				</div>
				<div class="row">
					<div class="col col-table">Matured balance</div>
					<div class="col col-table">{{SBCompany.matured_balance}}</div>
				</div>
				<div class="row">
					<div class="col col-table">YCP</div>
					<div class="col col-table">{{SBCompany.ycp}}</div>
				</div>

			</div>
		</div>
	</ion-content>
</ion-view>
