<ion-view view-title="Alert Settings" cache-view="false">

	<ion-content>
		<div class="card">
			<div class="item item-divider">
				Alert Settings <span ng-if="loading">(Loading)</span>
			</div>
			<div class="item item-text-wrap">
				<div class="row">
					<div class="col col-table"> <b>Company</b> </div>
					<div class="col col-table"> <b>Price</b> </div>
					<div class="col col-table"> <b>Up/Down</b> </div>
					<div class="col col-table"> <b>Status</b> </div>
					<div class="col col-table"> <b>Action</b> </div>
				</div>
				<div class="row" ng-repeat="setting in settings">
					<div class="col col-table"> {{setting.company_id}} </div>
					<div class="col col-table"> {{setting.price}} </div>
					<div class="col col-table"> {{setting.level == 'up' ? 'Above' : 'Below'}} </div>
					<div class="col col-table"> {{setting.active == "1" ? "On" : "Off"}} </div>
					<div class="col col-table">
						<i class="ion-ios-trash-outline" ng-click="delete(setting)"></i>
						<i class="ion-edit" ng-click="edit(setting)"></i>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
	<ion-footer-bar style="margin-bottom : 10px;">
		  <button ng-click="addSettings()()" class="button button-block button-positive"> ADD  ALERT</button>
		</ion-footer-bar>
</ion-view>
