<ion-view view-title="Broker Settings">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
      	<h3>Broker name</h3>
      </div>
      <div class="item item-text-wrap">
      	<input type="text" ng-model="broker.broker_name" placeholder="enter broker name">
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
      	<h3>Comission from broker. (%)</h3>
      </div>
      <div class="item item-text-wrap">
      	<input type="number" ng-model="broker.comission" placeholder=" type comission">
      </div>
      <button ng-click="submit()" class="button button-full button-positive">submit</button>
    </div>    
</ion-view>
