<ion-view view-title="Alert Settings" cache-view="false">

	<ion-content>
		<div class="card">
			<div class="item item-divider">
				Change Password.
			</div>
			<div class="item item-text-wrap">
				<label for="">Type your Current Password</label>
				<input type="password" ng-model="password.currentPass" placeholder="Type password">
			</div>
			<div class="item item-text-wrap">
				<label for="">Type new password</label>
				<input type="password" ng-model="password.newPass" placeholder="Type password">
			</div>
			<div class="item item-text-wrap">
				<label for="">Confirm new password</label>
				<input type="password" ng-model="password.confirmPass" placeholder="Type password">
			</div>
			<button class="button button-block button-kscl-yellow" ng-click="submitPassChange()">Submit</button>
		</div>

	</ion-content>
</ion-view>
