<ion-view view-title="Settings" cache-view="false">
  <ion-content>
    <div class="card" ng-hide="user.kscl">
      <div class="item item-divider">
      Broker Settings
      </div>
      <div class="item item-text-wrap">
        <p>Here you'll be able to set and change your broker information.</p>
        <a href="#/app/settings/broker" class="button button-outline button-block button-balanced icon-right ion-chevron-right">Broker Settings</a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Alert Settings
      </div>
      <div class="item item-text-wrap">
        <p>Here you'll be able to set and change alert pereferences.</p>
        <a href="#/app/settings/alerts" class="button button-outline button-block button-balanced icon-right ion-chevron-right">Alert Settings</a>
      </div>
    </div>
  </ion-content>
</ion-view>
