<ion-view view-title="IPO Management">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        New IPO Application
      </div>
      <div class="item item-text-wrap">
        <p>You can create a New IPO Application here.</p>
        <a href="#/app/ipo/new" class="button button-outline button-block button-balanced icon-right ion-chevron-right">New IPO Application</a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        IPO Reports
      </div>
      <div class="item item-text-wrap">
        <p>View IPO Reports.</p>
        <a href="#/app/ipo/report" class="button button-outline button-block button-balanced icon-right ion-chevron-right">View IPO Reports</a>
      </div>
    </div>    
   
    <div class="card">
      <div class="item item-divider">
        WithDrawal
      </div>
      <div class="item item-text-wrap">
        <p>Here You can create and see with drawal requests</p>
        <a href="#/app/ipo/withdrawal" class="button button-outline button-block button-balanced icon-right ion-chevron-right">Withdrawal</a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
      Managed Accounts
      </div>
      <div class="item item-text-wrap">
        <p>Here you'll be able to see the list of child accounts</p>
        <a href="#/app/ipo/accounts" class="button button-outline button-block button-balanced icon-right ion-chevron-right">Managed Accounts</a>
      </div>
    </div>

  </ion-content>
</ion-view>
