<ion-view view-title="IPO Reports">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        IPO Reports <span ng-show="loading">Loading</span>
        <p style="float:right">session: <select ng-model="selected.session" ng-options="session.IPOSession_Name for session in ipoSessions"></select></p>
      </div>

      <div class="item item-text-wrap" ng-show="reports.appliedIpoList && reports.appliedIpoList.length > 0">
		<div class="row order-col">
			<div class="col col-table"> <p>Application Date</p></div>
			<div class="col col-table"> <p>ID</p></div>
			<div class="col col-table"> <p>Name</p></div>
			<div class="col col-table"> <p>Status</p></div>
			<div class="col col-table"> <p>Description</p></div>
		</div>

		<div class="row order-col" ng-repeat="row in reports.appliedIpoList">
			<div class="col col-table"> <p>{{row.Application_Date}}</p></div>
			<div class="col col-table"> <p>{{row.id}}</p></div>
			<div class="col col-table"> <p>{{row.IPOSession_Name}}</p></div>
			<div class="col col-table"> <p>{{row.Application_Satus}}</p></div>
			<div class="col col-table"> <p>{{row.Remarks}}</p></div>
		</div>
      </div>
      
    </div>
    <div class="card">
    	<div class="item item-divider" ng-show="reports.appliedIpoList.length < 0 || reports.appliedIpoList == undefined">
      	NO DATA
      </div>
    </div>

  </ion-content>
</ion-view>
