/* Empty. Add your own CSS if you like */
.col-table {
	padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
}

.order-col > .col {
	font-size: 30px;
}

.green, .green p {
	color: green;
}

.red, .red p {
	color: red;
}

div.table-stripped:nth-child(even) {
	background-color: #f7f7f7;
}

.item-divider.green {
	background-color: green;
	color:white;
}
.item-divider.red{
	background-color: red;
	color:white;
}


