/* Empty. Add your own CSS if you like */
.col-table {
	padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
}

.order-col > .col {
	font-size: 30px;
}

.green, .green p {
	color: green;
}

.red, .red p {
	color: red;
}

div.table-stripped:nth-child(even) {
	background-color: #f7f7f7;
}

.item-divider.green {
	background-color: green;
	color:white;
}
.item-divider.red{
	background-color: red;
	color:white;
}

/* navigation icons */
.menu-icon {
	
}

a.item-content img {
	width:20px;
	height:20px;
	position:relative; 
	top:4px;
}

a.item-content span {
	padding-left: 10px;
}


.button.button-kscl-orange {
    border-color: #F97157;
    background-color: #F97157;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: 800;
}

.button.button-kscl-yellow {
    border-color: #F4CC66;
    background-color: #F4CC66;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    color:black;
}

.button.button-kscl-black {
    border-color: #1D1D1D;
    background-color: #1D1D1D;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    color:#F1CA64;
}

.button.button-kscl-green {
    border-color: #2ecc71;
    background-color: #2ecc71;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    color:white;
}


.bar.bar-kscl-gray {
    border-bottom: 3px solid #EEEDED;
    background-color: #F4F3F3;
    color: #303030;
}